@use '@/designSystem/theme/variables' as *;
@use '@/designSystem/theme/mixins' as *;

.email {
  display: inline-block;
  margin: 0 16px 0 0;

  &:hover {
    svg {
      color: var(--gradient-start);
    }
  }
}
