@use '@/designSystem/theme/mixins' as *;
@use '@/designSystem/theme/reset' as *;
@use '@/designSystem/theme/colors.global' as *;
@use '@/designSystem/theme/resources' as *;
@use '@/designSystem/theme/override_clerk' as *;

html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--gradient-background);
  @include body-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
p,
li {
  @include body-base;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.shade {
  position: absolute;
  opacity: 0.7;
  background: radial-gradient(
    250px 232px at 35%,
    #fa4a6fcc 0%,
    #fa4a6f99 31%,
    #fa4a6f4d 54%,
    #fa4a6f1a 88%,
    #0000 100%
  );
  border-radius: 288px / 244px;
  width: 482px;
  height: 321px;
  position: absolute;
  bottom: -204px;
  right: -198px;
  transform: rotate(10deg);
  z-index: $z-index-default;
}

.shade2 {
  position: absolute;
  opacity: 0.7;
  background: radial-gradient(
    250px 232px at 35%,
    #fa4a6fcc 0%,
    #fa4a6f99 31%,
    #fa4a6f4d 54%,
    #fa4a6f1a 88%,
    #0000 100%
  );
  border-radius: 288px / 244px;
  width: 482px;
  height: 321px;
  position: absolute;
  bottom: -184px;
  right: -169px;
  transform: rotate(21deg);
  z-index: $z-index-default;
}
