@use '@/designSystem/theme/variables' as *;
@use '@/designSystem/theme/mixins' as *;

.header {
  transition: opacity 0.3s ease-in-out;
  padding: 0 20px;

  p {
    display: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--input-placeholder-color);
    text-align: justify;
    margin: 24px 0 0 0;
  }

  .title {
    span {
      display: none;
      font-weight: normal;
      font-size: 32px;
    }

    strong {
      position: relative;
      font-size: 32px;
      padding: 0 10px;
      @include gradient-text;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--logo-bg-color);
        z-index: -1;
        border-radius: $border-radius-md;
      }
    }
  }

  &.visible {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    z-index: $z-index-default;

    .title {
      margin: 0 0 26px 0;

      span {
        display: inline-block;
        margin: 0 12px 0 0;
      }
    }

    p {
      display: block;
    }
  }
}
