@use '@/designSystem/theme/variables' as *;
@use '@/designSystem/theme/mixins' as *;

.tokens {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: $font-size-sm;
  color: var(--icons-color);

  .sparklesIcon {
    color: var(--gradient-start);
  }
}
